<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全中心</title>
    <link rel="stylesheet" href="/css/securitycenter.css">
</head>
<body>
<div class="mock-header" id="mock-header">
    <ul class="top-list">
        <li class="top-left-item">
            <a href="#">个人</a>
        </li>
        <li class="top-left-item">
            <a href="#">企业</a>
        </li>

        <li class="top-right-item">
            <a href="#">提建议</a>
        </li>
        <li class="top-right-item top-right-gap">|</li>
        <li class="top-right-item toggle-dropdown">
            <a href="#">服务大厅</a>
        </li>
        <li class="top-right-item top-right-gap">|</li>

        <li class="top-right-item">
            <a href="#">安全中心</a>
        </li>
        <li class="top-right-item top-right-gap">|</li>

        <li class="top-right-item toggle-dropdown">
            <a href="#">我的支付宝</a>
            <em class="arrow"></em>
        </li>
        <li class="top-right-item top-right-gap">|</li>

        <li class="top-right-item">
            <a href="#">登录</a>
            <span>-</span>
            <a>注册</a>
        </li>
        <li class="top-right-item top-right-gap">|</li>

        <li class="top-right-item">欢迎使用支付宝!</li>
    </ul>
</div>
</body>
</html>